@import url("https://fonts.googleapis.com/css?family=Comfortaa|PT+Sans&display=swap");
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
  transition: color 0.2s;
}

a:link {
  outline: none;
}

.header-nav ul li a:hover,
footer ul li a:hover,
.container__more:hover {
  color: #97bbb9;
  transition: color 0.2s;
}

.nav__item_active {
  color: #97bbb9;
}
li {
  color: black;
  transition: color 0.2s;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 40px 0px 0px 0px;
  margin: 0px 0px 50px 0px;
  text-transform: lowercase;
}

.logo {
  text-transform: lowercase;
  font-size: 40px;
  font-family: "Comfortaa", Helvetica, sans-serif;
}
.header-nav__ul li,
.footer-nav ul li,
.footer__social ul li {
  display: inline-block;
  margin: 15px 20px;
  font-family: "PT Sans", Helvetica, sans-serif;
  font-size: 20px;
  transition: display 0.3s;
}

.container {
  width: 75%;
  margin: auto;
}
.container__row {
  display: flex;
  justify-content: center;
}
.item {
  border-radius: 10px;
  margin: 5px;
  font-family: "PT Sans", Helvetica, sans-serif;
}

.item-large {
  width: 100%;
  padding: 250px 20px 25px 50px;
  background-color: #a8e6cf;
  transition: background-color 0.3s;
}
.item-large:hover {
  background-color: #b9f5df;
  transition: background-color 0.3s;
}
.item-medium {
  width: 50%;
  padding: 250px 20px 25px 40px;
  background-color: #ffd3b6;
  transition: background-color 0.3s;
}
.item-medium:hover {
  background-color: #ffe4d2;
  transition: background-color 0.3s;
  color: grey;
}
.item-small {
  width: 33%;
  padding: 250px 20px 25px 20px;
  background-color: #ffaaa5;
  transition: background-color 0.3s;
}
.item-small:hover {
  background-color: #fdbcb9;
  transition: background-color 0.3s;
}

.item__header {
  font-size: 25px;
  margin-top: 10px;
}
.container__more {
  text-align: center;
  display: block;
  font-size: 50px;
  margin: 50px 0;
}

.footer-nav {
  display: flex;
  align-items: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 100px 0px 0px 0px;
  padding: 20px 0px 20px 0px;
  text-transform: lowercase;
  background: rgba(255, 234, 234, 0.692);
}

.nav__list {
  display: none;
  transition: display 0.3s;
  border-radius: 5px;
  margin-top: 2px;
  padding: 10px;
  position: absolute;
  background-color: white;
}
.nav__list li {
  margin: 8px;
}

.nav__item:hover .nav__list {
  display: flex;
}
